<!DOCTYPE html>
<html>
  <head>
    <title>TurboVoteRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>TurboVote</h1>
      <nav>
        <a href="/">Results</a>
        <a href="/votes/new">Vote</a>
      </nav>
      <div class="voter_email">
        <% if current_voter_email %>
        <p>Signed in as <%= current_voter_email %></p>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
